#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=XiaomiTool
GenericName=XiaomiTool
Comment=An opensource toolkit for some Xiaomi devices.
Categories=Utility;
Icon=/usr/share/icons/Humanity/apps/32/bash.svg
Terminal=true
Exec=sh -c "ZcScr='./Start.sh'; $(dirname '%k')/$ZcScr -I || '%k'/$ZcScr -I"
